<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Elevated Cloudworks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_styles.css') }}">
</head>
<body>
    <nav>
        <a href="https://elevatedcloudworks.com">Home</a>
        <a href="https://elevatedcloudworks.com/about">About</a>
        <a href="https://app.powerbi.com/view?r=eyJrIjoiNWVhNDYxYTEtMWU4NC00M2QwLTliMzItNGNjMjUwNGU2ZDZkIiwidCI6IjZkYzMzM2U1LWE5MTEtNGMzNS04YmMyLTEyZTY5MGUzNzg4ZSIsImMiOjZ9">Power Bi</a>
    </nav>
    <div class="login-container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Elevated Cloudworks Logo" class="logo">
        
        <form class="login-form" action="{{ url_for('login') }}" method="post">
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username" required autocomplete="username">
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required autocomplete="current-password">
            </div>
            <button type="submit" class="button">Login</button>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <p>Don't have an account? <a href="request_access_form">Request Access</a></p>
        </form>
    </div>
</body>
</html>